
Munki Catalog Browser.xcodeproj/project.xcworkspace/xcuserdata/btoms.xcuserdatad/UserInterfaceState.xcuserstate
Munki Catalog Browser.xcodeproj/project.xcworkspace/xcuserdata/btoms.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
*.xcuserstate
.DS_Store
